unpackaged/main/default/flows/Campaign_Member_Lead_Flow_Router.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Campaign_Contact</name>
        <label>Campaign &amp; Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inputChildCampaign.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputChildCampaign.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputChildCampaign.Module__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign.Module__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputParentCampaign.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputParentCampaign.Module__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign.Parent.Module__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Beacon_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_variables</name>
        <label>Output variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inputChildCampaign.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionalInputChildCampaign.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stamp_Test_Text</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Beacon_Newsletters</name>
        <label>Beacon Newsletters</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>updateContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Contact</name>
            <conditionLogic>(1 AND 2  AND 5 AND  6 AND 7) AND ( 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.ParentId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Parent.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Conference</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent_Campaign_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Beacon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Content_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newsletters</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opt_In_Out_fields</targetReference>
            </connector>
            <label>Update Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Record_Update_Required</name>
        <label>Contact Record Update Required</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ByPassLF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brochure Download</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LinkedIn Lead Gen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exit Overlay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>First_Download</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Action</name>
        <label>Determine Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_it_a_Contact</name>
            <conditionLogic>1 AND 2 AND 3 AND 7 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ByPassLF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brochure Download</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LinkedIn Lead Gen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exit Overlay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Download</targetReference>
            </connector>
            <label>Is it a Contact?</label>
        </rules>
        <rules>
            <name>Is_it_a_Lead</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ByPassLF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brochure Download</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LinkedIn Lead Gen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Responded_To_Fast_Track_Prospect</targetReference>
            </connector>
            <label>Is it a Lead?</label>
        </rules>
        <rules>
            <name>Beacon_Contact_Responded</name>
            <conditionLogic>1 AND 2 AND 7 AND 8 AND (3 OR 4) AND ( (NOT 5) OR (5 AND 6) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Fast_track__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Parent.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Beacon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Beacon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ABM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Download</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligible_For_Opportunity_Creation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Contact</targetReference>
            </connector>
            <label>Beacon Contact Responded</label>
        </rules>
        <rules>
            <name>Create_Opportunity_Record</name>
            <conditionLogic>(1 AND 2) OR( 3 AND 11 AND 4 AND 5 AND 6 AND (7 OR 8 OR 9 OR 10))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Manually_Create_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ByPassLF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Fast_track__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyOrAccount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hanson Wade Ltd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conference</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mastermind_Session</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On_Demand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligible_For_Opportunity_Creation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_variables</targetReference>
            </connector>
            <label>Create Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Download</name>
        <label>First Download?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_Update</targetReference>
            </connector>
            <label>New?</label>
        </rules>
        <rules>
            <name>ReDownload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Test_Update</targetReference>
            </connector>
            <label>ReDownload</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact</name>
        <label>Is Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsContact</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ByPassLF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brochure Download</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LinkedIn Lead Gen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exit Overlay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>First_Download</targetReference>
            </connector>
            <label>Contact?</label>
        </rules>
        <rules>
            <name>IsLead</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ByPassLF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brochure Download</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LinkedIn Lead Gen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Responded_To_Fast_Track_Prospect</targetReference>
            </connector>
            <label>Lead?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Responded_To_Fast_Track_Prospect</name>
        <label>Lead Responded To Fast Track - Prospect</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_Email_Opt_out</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Leads_Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Fast_track__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BtL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Leads - Prospect</label>
        </rules>
        <rules>
            <name>Lead_Responded_To_Fast_Track_MQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Fast_track__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_MQL</targetReference>
            </connector>
            <label>Lead Responded To Fast Track - MQL</label>
        </rules>
    </decisions>
    <description>3/26 - Set Trigger order as 1. This was done as a new Flow was created on Campaign Members (Campaign Member - Create - Contact Data Tagging), which is order 2. This Flow was created as part of the data separation project.

Updated/Fixed version for BtL&gt;AtL elevation process</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>formCloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <name>formIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Campaign Member - Lead Flow Router {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Member - Lead Flow Router</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Test_Update</name>
        <label>Copy 1 of Test Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Opps_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Testimonial__c</field>
            <value>
                <stringValue>Path ReDownload</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Test_Text</name>
        <label>Stamp Test Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Testimonial__c</field>
            <value>
                <stringValue>Yes it triggered fine</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Test_Update</name>
        <label>Test Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Opps</targetReference>
        </connector>
        <inputAssignments>
            <field>Testimonial__c</field>
            <value>
                <stringValue>Yes the trigger works</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Lead_Email_Opt_out</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Event_Interest__c</field>
            <value>
                <elementReference>$Record.Campaign.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0050J000008ne1KQAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Email_Opt_out</name>
        <label>Update Lead Email Opt out</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Opt_In_Reason__c</field>
            <value>
                <stringValue>Brochure Download</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Opt_In__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Opt_Out_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Re_Opt_In_Date__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_MQL</name>
        <label>Update Lead MQL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Lead_Email_Opt_out</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Event_Interest__c</field>
            <value>
                <elementReference>$Record.Campaign.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0050J000008ne1KQAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Marketing Qualified Lead</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opps</name>
        <label>Update Opps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Beacon_Newsletters</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8) AND (9 OR 10 OR 11 OR 12 OR 14 OR 15) AND 13</filterLogic>
        <filters>
            <field>Campaign_Display_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Campaign_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Behavior Based</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Allocated List</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales research</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Navigator</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Guest Interest</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Content download</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Click through</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact Attempted</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Qualified Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spoken</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing Qualified Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Department Transfer</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Automated_Process__c</field>
            <value>
                <stringValue>7676</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>formCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Landing__c</field>
            <value>
                <elementReference>$Record.Contact.First_Landing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Visit_Date_Event__c</field>
            <value>
                <elementReference>$Record.Contact.First_Visit_Date_Event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Ref__c</field>
            <value>
                <elementReference>$Record.Contact.Initial_Ref__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Landing_Page__c</field>
            <value>
                <elementReference>$Record.Contact.Last_Landing_Page__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Ref__c</field>
            <value>
                <elementReference>$Record.Contact.Last_Ref__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Type__c</field>
            <value>
                <stringValue>Brochure download</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Campaign__c</field>
            <value>
                <elementReference>$Record.Contact.UTM_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Content__c</field>
            <value>
                <elementReference>$Record.Contact.UTM_Content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Initial_Campaign_Event__c</field>
            <value>
                <elementReference>$Record.Contact.UTM_Initial_Campaign_Event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Initial_Content_Event__c</field>
            <value>
                <elementReference>$Record.Contact.UTM_Initial_Content_Event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Initial_Medium_Event__c</field>
            <value>
                <elementReference>$Record.Contact.UTM_Initial_Medium_Event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Initial_Source_Event__c</field>
            <value>
                <elementReference>$Record.Contact.UTM_Initial_Source_Event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Initial_Term_Event__c</field>
            <value>
                <elementReference>$Record.Contact.UTM_Initial_Term_Event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Medium__c</field>
            <value>
                <elementReference>$Record.Contact.UTM_Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Source__c</field>
            <value>
                <elementReference>$Record.Contact.UTM_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Term__c</field>
            <value>
                <elementReference>$Record.Contact.UTM_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visits__c</field>
            <value>
                <elementReference>$Record.Contact.Visits__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opps_0</name>
        <label>Update Opps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Beacon_Newsletters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign_Display_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Campaign_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>012200000004t7rAAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Brochure_Re_download_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opt_In_Out_fields</name>
        <label>Update Opt In/Out fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Opt_In_Reason__c</field>
            <value>
                <stringValue>Beacon Newsletter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Opt_Out_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Re_Opt_In_Date__c</field>
            <value>
                <elementReference>CurrentTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateContact</name>
        <label>updateContact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Opt_In_Reason__c</field>
            <value>
                <stringValue>Brochure Download</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Opt_In__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Opt_Out_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Re_Opt_In_Date__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Action</targetReference>
        </connector>
        <filterFormula>{!$User.ByPassLF__c} = FALSE</filterFormula>
        <object>CampaignMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Beacon_Opportunity</name>
        <label>Create Beacon Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Record_Update_Required</targetReference>
        </connector>
        <flowName>Create_Beacon_Opp</flowName>
        <inputAssignments>
            <name>InputChildCampaign</name>
            <value>
                <elementReference>inputChildCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputContact</name>
            <value>
                <elementReference>InputContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputParentCampaign</name>
            <value>
                <elementReference>inputParentCampaign</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Opp</name>
        <label>Create Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Contact</targetReference>
        </connector>
        <flowName>Check_and_create_opp</flowName>
        <inputAssignments>
            <name>InputCampaignMember</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputContact</name>
            <value>
                <elementReference>InputContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>optionalInputChildCampaign</name>
            <value>
                <elementReference>optionalInputChildCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOptionalInputCampaignMemberStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>camp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputChildCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>InputContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>inputParentCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>optionalInputChildCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>SetIsNewVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
