unpackaged/main/default/flows/Campaign_Create_Create_Campaigns_And_Sub_Campaigns.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Campaign</name>
        <label>Assign Campaign</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CampaignRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaCampaignName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignRecord.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Child_Campaigns.Active__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignRecord.MD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Child_Campaigns.Record_Type_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignRecord.Fast_track__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Child_Campaigns.Fast_Track__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignRecord.Download_Target__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Child_Campaigns.AtL_Opportunities_Required__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Campaign_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Campaign_Record_Collection</name>
        <label>Assign To Campaign Record Collection</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CampaignRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CampaignRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Child_Campaigns</targetReference>
        </connector>
    </assignments>
    <description>4/26 - Set Trigger order 2 to follow the Campaign - Create - Data Owner Tagging Flow. This is part of the Data Separation project.

When a new parent campaign is created references custom metadata records to create associated sub campaigns.</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaCampaignName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}&amp;&apos; - &apos;&amp;{!Loop_Through_Child_Campaigns.Child_Campaign_Name__c}</expression>
    </formulas>
    <interviewLabel>Campaign - Create - Create Campaigns And Sub Campaigns {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign - Create - Create Campaigns And Sub Campaigns</label>
    <loops>
        <name>Loop_Through_Child_Campaigns</name>
        <label>Loop Through Child Campaigns</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Child_Campaign_Custom_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Campaign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Child_Campaigns</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Child_Campaigns</name>
        <label>Create Child Campaigns</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Create_Event_Delivery</targetReference>
        </connector>
        <inputReference>CampaignRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Event_Delivery</name>
        <label>Create Event Delivery</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Relate_Event_Delivery_with_Parent_Campaign</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Delivery__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Campaign_Custom_Metadata</name>
        <label>Get Child Campaign Custom Metadata</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Child_Campaigns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Campaign_Custom_Metadata.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Metadata_Record_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Child_Campaign__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Campaign_Custom_Metadata</name>
        <label>Get Parent Campaign Custom Metadata</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Campaign_Custom_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Metadata_Record_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parent_Campaign__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Campaign_Custom_Metadata</targetReference>
        </connector>
        <filterFormula>OR(
{!$Record.RecordType.DeveloperName} = &quot;Conference&quot;,
/* The Rec Types below are all for Bespoke Campaigns decision */
{!$Record.RecordType.DeveloperName} =&quot;Market_Research&quot;,
{!$Record.RecordType.DeveloperName} = &quot;Executive&quot;
)&amp;&amp;NOT({!$User.ByPassLF__c})</filterFormula>
        <object>Campaign</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Relate_Event_Delivery_with_Parent_Campaign</name>
        <label>Relate Event Delivery with Parent Campaign</label>
        <locationX>176</locationX>
        <locationY>1163</locationY>
        <flowName>Relate_Event_Delivery_with_Parent_Campaign</flowName>
        <inputAssignments>
            <name>ParentCampaign</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>2</triggerOrder>
    <variables>
        <name>CampaignRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CampaignRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
