unpackaged/main/default/flows/Contact_Create_Data_Owner_Tagging.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notifies the team of a Fault</description>
        <name>Fault_Update_Account_Data_Owner_to_Shared</name>
        <label>Fault - Update Account Data Owner to Shared</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>tech@hansonwade.com</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>digital.systems@hansonwade.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Salesforce Flow Fault - Update Account Data Owner to Shared</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;&lt;span style=&quot;background: rgb(20, 20, 20) !important;&quot;&gt;You&apos;re receiving this message becasue the Contact - Create - Data Owner Tagging Flow encountered a Fault Path. This occured at the Update Account Data Owner to Shared Element and is related to:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background: rgb(20, 20, 20) !important;&quot;&gt;Object: Contact&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background: rgb(20, 20, 20) !important;&quot;&gt;Record ID: {!$Record.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Username: {!$User.Username}&lt;/p&gt;&lt;p&gt;Fault Message:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Determines if the Data Owner fo the Account Should become Shared</description>
        <name>Should_the_Account_Get_Updated</name>
        <label>Should the Account Get Updated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Account_Data_Owner</name>
            <conditionLogic>(1 AND (2 OR 3)) OR (4 AND (5 OR 6))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Data_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conferences</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Data_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Beacon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Data_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shared</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Data_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Beacon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Data_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conferences</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Data_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shared</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Data_Owner_to_Shared</targetReference>
            </connector>
            <label>Yes - Update Account Data Owner</label>
        </rules>
    </decisions>
    <description>This will update the Data Owner field on the related Account based on criteria. This field is used in Sharing Rules to control record visibility. This was added as part of the data separation project.</description>
    <environments>Default</environments>
    <interviewLabel>Contact - Create - Data Owner Tagging {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Create - Data Owner Tagging</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Sets the Data Owner to Shared</description>
        <name>Update_Account_Data_Owner_to_Shared</name>
        <label>Update Account Data Owner to Shared</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Fault_Update_Account_Data_Owner_to_Shared</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Data_Owner__c</field>
            <value>
                <stringValue>Shared</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_the_Account_Get_Updated</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
