unpackaged/main/default/flows/Contact_Update_Data_Owner_Tagging.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notifies the team of a Fault</description>
        <name>Fault_Update_Account_Data_Owner_to_Shared</name>
        <label>Fault - Update Account Data Owner to Shared</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>tech@hansonwade.com</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>digital.systems@hansonwade.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Salesforce Flow Fault - Update Account Data Owner to Shared</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;&lt;span style=&quot;background: rgb(20, 20, 20) !important;&quot;&gt;You&apos;re receiving this message because the Contact - Update - Data Owner Tagging Flow encountered a Fault Path. This occurred at the Update Account Data Owner to Shared Element and is related to:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background: rgb(20, 20, 20) !important;&quot;&gt;Object: Contact&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background: rgb(20, 20, 20) !important;&quot;&gt;Record ID: {!$Record.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Username: {!$User.Username}&lt;/p&gt;&lt;p&gt;Fault Message:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <description>Notifies the team of a Fault</description>
        <name>Fault_Update_Contact_Data_Owner_to_Shared</name>
        <label>Fault - Update Contact Data Owner to Shared</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>tech@hansonwade.com</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>digital.systems@hansonwade.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Salesforce Flow Fault - Update Contact Data Owner to Shared</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;&lt;span style=&quot;background: rgb(20, 20, 20) !important;&quot;&gt;You&apos;re receiving this message becasue the Contact - Update - Data Owner Tagging Flow encountered a Fault Path. This occured at the Update Contact Data Owner to Shared Element and is related to:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background: rgb(20, 20, 20) !important;&quot;&gt;Object: Contact&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background: rgb(20, 20, 20) !important;&quot;&gt;Record ID: {!$Record.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Username: {!$User.Username}&lt;/p&gt;&lt;p&gt;Fault Message:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Compares Data Owner field on both records</description>
        <name>Beacon_Contact_on_Conferences_Account</name>
        <label>Beacon Contact on Conferences Account?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Conferences_Email_Clicked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Beacon_Contact_Conferences_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Beacon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Data_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conferences</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Account_Data_Owner_to_Shared</targetReference>
            </connector>
            <label>Yes - Beacon Contact Conferences Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Looks at the Last Marketo Email Clicked - Beacon field</description>
        <name>Beacon_Email_Clicked</name>
        <label>Beacon Email Clicked?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Beacon_Email_Clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Marketo_Email_Clicked_Beacon__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Data_Owner_to_Shared</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Beacon Email Clicked</label>
        </rules>
    </decisions>
    <decisions>
        <description>Compares Data Owner field on both records</description>
        <name>Conferences_Contact_on_Beacon_Account</name>
        <label>Conferences Contact on Beacon Account?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Beacon_Email_Clicked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Conferences_Contact_on_Beacon_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conferences</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Data_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Beacon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Account_Data_Owner_to_Shared</targetReference>
            </connector>
            <label>Yes - Conferences Contact on Beacon Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Looks at the Last Marketo Email Clicked - Conferences field</description>
        <name>Conferences_Email_Clicked</name>
        <label>Conferences Email Clicked?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Conferences_Email_Clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Marketo_Email_Clicked_Conferences__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Data_Owner_to_Shared</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Conferences Email Clicked</label>
        </rules>
    </decisions>
    <decisions>
        <description>Used to bypass parts of logic path</description>
        <name>What_is_the_Contact_Data_Owner</name>
        <label>What is the Contact Data Owner?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Conferences</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conferences</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Conferences_Contact_on_Beacon_Account</targetReference>
            </connector>
            <label>Conferences</label>
        </rules>
        <rules>
            <name>Beacon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Beacon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Beacon_Contact_on_Conferences_Account</targetReference>
            </connector>
            <label>Beacon</label>
        </rules>
        <rules>
            <name>Shared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shared</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Data_Owner_to_Shared</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Shared</label>
        </rules>
    </decisions>
    <description>This will update the Data Owner field on the related Contact based on criteria. This field is used in Sharing Rules to control record visibility. This will update the Data Owner field on the related Account based on criteria. This was added as part of the data separation project. This is an After Save Flow instead of a Before Save Flow to use a Fault Path due to the sensitivity of the field being updated.</description>
    <environments>Default</environments>
    <interviewLabel>Contact - Update - Data Owner Tagging {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Update - Data Owner Tagging</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Sets the Account Data Owner to Shared</description>
        <name>Update_Account_Data_Owner_to_Shared</name>
        <label>Update Account Data Owner to Shared</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Fault_Update_Account_Data_Owner_to_Shared</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_Owner__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Shared</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Data_Owner__c</field>
            <value>
                <stringValue>Shared</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Sets the Data Owner field on the Contact to Shared</description>
        <name>Update_Data_Owner_to_Shared</name>
        <label>Update Data Owner to Shared</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Account_Data_Owner_to_Shared</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Update_Contact_Data_Owner_to_Shared</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Data_Owner__c</field>
            <value>
                <stringValue>Shared</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_is_the_Contact_Data_Owner</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Data_Owner__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Last_Marketo_Email_Clicked_Beacon__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Last_Marketo_Email_Clicked_Conferences__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
